In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
import seaborn as sns
import plotly.express as px

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv('gdrive/My Drive/Cantonment day.csv')

In [ ]:
df.head()

      a  b  c     y          ds
0  2015  1  1  3.02  01-01-2015
1  2015  1  2  0.06  02-01-2015
2  2015  1  3  0.00  03-01-2015
3  2015  1  4  0.00  04-01-2015
4  2015  1  5  0.00  05-01-2015

In [ ]:
df.drop(['c','b','a'],axis=1,inplace=True)

NameError: ignored